
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

ul,
li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

/* 页面切换 */
.fade-enter-active {
  animation: fadeChange .5s ease-in-out forwards reverse;
}

.fade-leave-active {
  animation: fadeChange .5s ease-in-out forwards;
}

@keyframes fadeChange {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
